body {
    display: grid;
    grid-template: 1fr 7fr / 1fr 5fr ;
}

#dashboard {
    grid-area: 1 / 1 / -1 / 2;
    background-color: #2563eb;
}

.dashboard-logo, .profile-picture {
    width: 70px;
}

.search-button {
    width: 40px;
}

.notification-bell {
    width: 50px;
}