body {
    display: grid;
    grid-template: 1fr 7fr / 1fr 5fr ;
}

/* dashbboard */
#dashboard {
    grid-area: 1 / 1 / -1 / 2;
    background-color: #2563eb;
}

/* icons */
.dashboard-logo, .profile-picture {
    width: 70px;
}

.search-button {
    width: 40px;
}

.notification-bell {
    width: 50px;
}

/* header */
#header {
    grid-area: 1 / 2 / 2 / -1;
    display: flex;
    flex-direction: column;
}

#search-field, .profile {
    display: flex;
    align-items: center;
}

.upper, .lower{
    display: flex;
    justify-content: space-between;
}

.profile2 {
    display: flex;
}

.post-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

button {
    height: 3rem;
    width: 7rem;
    border-radius: 3em;
}